body {
    background-image: url('../Images/white.jpg');
    background-position: center;
    background-size: cover;
}

a:link {
    background-color: SeaGreen;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:visited {
    background-color: SeaGreen;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: transparent;
    color: Black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


#chat-container {
    max-width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
}

#chat-messages {
    height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
}

#user-input {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#message-input {
    flex: 1;
    padding: 5px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}
